*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html{
    text-rendering: optimizeLegibility;
}

header{
     background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0, 0, 0, 0.5)), url(../css/img/Agua.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
    

    
.menu{
    display: flex;
    margin-right: 5vh;
    align-items: baseline;
    justify-content: space-between;
}

.menu a,h2{
    margin-top: 4vh;
    margin-right: 4vh;
    text-decoration: none;
    color: white;
    font-weight: 400;
    transition: all 0.1s ease;

}
.menu a:hover{
    border-bottom: 2px solid white;
}
.menu h2{
    margin-left: 4vh;
    font-weight: 600;
}
    
.banner{
    margin-top: 25vh;
    margin-left: 4vw;
    color: white;
    font-weight: bold;
}
.banner h3{
    font-weight:500;
    margin-left: 1vw;
}
.aprenda{
    width: 125px;
    height: 25px;
    cursor: pointer;
    padding: 1px 1px;
    background-color: rgb(255, 255, 255) ;
    color: rgb(0, 0, 0);
    text-align: center;
    border: none ;
    border-radius: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
}
.aprenda:hover{
    background-color: rgb(43, 42, 42);
    color: #ffffff;
}

   

.veja-mais{
    width: 135px;
    height: 25px;
    margin-left: 1vw;
    background-color:#ffffff ;
    color: rgb(0, 0, 0);
    text-align: center;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.veja-mais:hover{
    background-color: rgb(43, 42, 42);
    color: #ffffff; 
}
.Botao-banner{
    margin-top: 2vh;
}

    
   



    






    