*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html{
    text-rendering: optimizeLegibility;
    font-size: 20px;
}

header{
     background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0, 0, 0, 0.5)), url(../css/img/Agua.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
    

    
.menu{
    display: flex;
    margin-right: 5vh;
    align-items: baseline;
    justify-content: space-between;
}
.menu h2{
    margin-top: 4vh;
    margin-left: 4vh;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
    transition: all 0.1s ease;

}

.nav a{
    margin-top: 4vh;
    margin-right: 4vh;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1rem;


}
.menu a:hover{
    border-bottom: 2px solid white;
    font-size: 1rem;
    transition: all 0.1s ease-out;

}

    
.banner{
    margin-top: 25vh;
    margin-left: 4vw;
    color: white;
    font-weight: bold;
}
.banner h3{
    font-weight:500;
    margin-left: 1vw;
    margin-top: -10px;
    font-size: 1rem;
}
.aprenda{
    width: 125px;
    height: 25px;
    cursor: pointer;
    padding: 1px 1px;
    background-color: rgb(255, 255, 255) ;
    color: rgb(0, 0, 0);
    text-align: center;
    border: none ;
    border-radius: 10px;
    font-size: 0.8rem;
    transition: all 0.3s ease;
}
.aprenda:hover{
    background-color: rgb(43, 42, 42);
    color: #ffffff;
}

   

.veja-mais{
    width: 135px;
    height: 25px;
    margin-left: 1vw;
    background-color:#ffffff ;
    color: rgb(0, 0, 0);
    text-align: center;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 0.8rem;

}
.veja-mais:hover{
    background-color: rgb(43, 42, 42);
    color: #ffffff; 
}
.Botao-banner{
    margin-top: 3vh;
}
section{
    padding: 30px 30px;
    
}
section h3 {
    text-align: center;
    font-weight: normal;
}
.caixa-veja{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha{
    background-color: black;
    width: 300px;
    height: 2px;
    margin-top: 2px;
    border-radius: 900px;
}
.caixa-imagem{
    gap: 0.5rem;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.caixa-imagem img{
    width: 100px;
    height: 300px;
    border-radius: 900px;
    background-position: center;
    
}
.caixa-imagem > img{
    flex: 0.5;
    background-size: 100% auto;
    transition: all .5s cubic-bezier(.25, .4, .45, 1.4);
}

.caixa-imagem > img:hover{
    flex: 1;
    background-position: center;
}

   

    
   



    






    